*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppines , sans-serif;
}
/* ---------for body----------- */
body{
    background-color: #efefef;
} 
/* ----------for navbar ---------- */
#navication{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0px 15px;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon {
    margin-left: 25px;
}
.search-box{
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 0px;
    outline: none;
     
}
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 7px;
    height: 7px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #0e940e;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* ---------for container--------- */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
/* ---------for left sidebar-------- */
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

}
/* --------for right sidebar--------0 */
.right-sidebar{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start; 

}
.mian-content{
    flex-basis: 47%;
}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
a:hover{
    text-decoration: underline;
    color: rgb(46, 38, 114);
}
.imp-links img{
    width: 25px;
    margin-right: 25px;
    
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid rgb(175, 175, 175);
}
.shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}
.shortcut-links p{
    margin: 20px 0px;
    color: #626262;
    font-weight: bold;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    background-color: bisque;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0pa 0pa 10px rgba(0, 0, 0,0.1);
}
.event p{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #1876f2;
    font-size: 11px;
    padding: 4px 0px;
    color: beige;
}
.right-event  a{
    text-decoration: none;
    color: #626262;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 34px;
}